<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/03ce1c2806.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../Styles/style.css">
  <script src="../Script/index.js"></script>
  <title>Verbos Irregulares</title>
</head>

<body>
  <div class="containerUser logout">
    <i class="fa-solid fa-door-open" style="color: #ffffff;"></i>
    <label id="logout">Cerrar Sesión</label>
  </div>
  <div class="containerUser">
    <i class="fa-regular fa-user fa-bounce" style="color: #ffffff;"></i>
    <label id="tagUser"></label>
  </div>
  <table>
    <td>
      <button class="button start">Iniciar Juego</button>
    </td>
    <td>
      <button class="reset" type="submit">Resetear Juego</button>
    </td>
  </table>
  <input type="text" id="nombre-jugador-1" placeholder="Jugador 1" class="input">
  <input type="text" id="nombre-jugador-2" placeholder="Jugador 2" class="input">
  <input type="text" id="nombre-jugador-3" placeholder="Jugador 3" class="input">
  <div id="puntajes">
    <!-- Aquí se mostrarán los puntajes de los jugadores -->
  </div>
  <h1>Juego concentrese</h1>
  <div class="card-grid">

  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>

</html>