<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/estilos.css">
    
    <title>Instrucciones de uso</title>
</head>
<body>
    <button id="open">
        Hacer Click
      </button>
      <div id="modal_container" class="modal-container">
        <div class="modal">
          <h1>Instrucciones de uso</h1>
          <p>
            Se daran 3 verbos en ingles en los tiempos presente, pasado y futuro. El jugador debe encontrar en todas las tarjetas el verbo en los tiempos mencionados. Gana el jugador que mas verbos haya encontrado.
          </p>
          <button id="close">Cerrar</button>
        </div>
      </div>
      <script src="../Script/ventana.js"></script>
</body>
</html>