@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 150px;
    height: 200px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
}

.card-flipper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card.flipped .card-flipper {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.card-front {
    background-color: #F2A649;
    color: white;
}

.card-back {
    background-color: #1295a3;
    color: white;
    transform: rotateY(180deg);
}

input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    box-shadow: 0px 0px 5px grey;
}

button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1295a3;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px
}

#puntajes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border: 3px solid #000;
    padding: 10px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

.current-player {
    color: #037E8C;
}

.containerUser {
    float: right;
    border-radius: 10px;
    box-shadow: inset;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.5rem 1rem;
    line-height: 1.5;
    color: #fff;
    background-color: #1295a3;
    font-family: monospace;
}

/*PopUp manual*/

#open button {
    background-color: #1295a3;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
}

.modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    display: block;
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: justify;
    background-color: #edeef6;
    font-family: 'Poppins', sans-serif;
}

#close button {
    background-color: aliceblue;
}

.modal h1 {
    margin: 0;
}

.modal p {
    opacity: 0.7;
    font-size: 14px;
}